.gradle/
.idea/
gradle/
*.iml
gradlew
gradlew.bat
puzzle-232/build
puzzle-227build
puzzle-222/build
puzzle-1/build
puzzle-2/build
puzzle-3/build
puzzle-4/build
puzzle-8/build
puzzle-9/build
puzzle-10/build
puzzle-12/build
puzzle-13/build
puzzle-15/build
puzzle-16/build
puzzle-18/build
puzzle-19/build
puzzle-20/build
puzzle-21/build
puzzle-22/build
puzzle-23/build
puzzle-24/build
puzzle-25/build
puzzle-27/build
puzzle-29/build
puzzle-30/build
puzzle-32/build
puzzle-34/build
puzzle-54/build
puzzle-57/build
puzzle-62/build
puzzle-63/build
puzzle-68/build
puzzle-76/build
puzzle-92/build
antlr-demo/gen/
antlr-demo/src/
antlr-demo/build.gradle